body {
  margin: 0;
}

/* -----------------------------------  Top Navigation Bar ----------------------------------- */
.top-nav-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 0 0 200px;
  /* background-color: aqua; */
}

.top-nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-left: 40px;
  color: hsl(257, 7%, 63%);
  text-decoration: none;
}

.top-nav-main-name {
  font-weight: 700;
  font-size: 25px;
  margin-left: 0;
  color: hsl(255, 11%, 22%);
}

.top-nav-link:hover {
  color: hsl(255, 11%, 22%);
}

/* -----------------------------------  Introduction Section ----------------------------------- */
.introduction-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 0 0 200px;
  /* background-color: aqua; */
}

.introduction-content-div {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  width: 60%;
  /* background-color: aqua; */
}

.introduction-content-div h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: hsl(255, 11%, 22%);
  margin: 0;
}

.introduction-content-div p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: hsl(257, 7%, 63%);
  margin: 30px 0 0 0;
}

.get-started-button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  background-color: hsl(180, 66%, 49%);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 30px 0 0 0;
}

.get-started-button:hover {
  color: hsl(255, 11%, 22%);
}

/* -----------------------------------  First Placeholder Section ----------------------------------- */
.first-placeholder-div {
  margin-top: 110px;
  height: 150px;
  background-color: rgba(239, 241, 248, 1);
}

/* -----------------------------------  Shorten a Link Section ----------------------------------- */
.shorten-a-link-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  height: 100px;
  margin: -200px 200px 0 200px;
  border-radius: 8px;
}

.shorten-a-link-form input {
  width: 70%;
  height: 35%;
  margin: 0 20px 0 30px;
  border-radius: 8px;
  border: none;
  text-indent: 20px;
}

.shorten-a-link-form button {
  width: 20%;
  height: 37%;
  margin: 0 30px 0 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  border-radius: 8px;
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.shorten-a-link-form button:hover {
  color: hsl(255, 11%, 22%);
}

/* -----------------------------------  URL Shortening API results Sectionn ----------------------------------- */
.api-result-div {

  /* display: none - if now the result doesn't exist */
  /* display: none; */
  margin-top: 15px;
  background-color: rgba(239, 241, 248, 1);
}

.api-result-element-div {
  display: flex;
  align-items: center;
  background-color: white;
  margin-left: 200px;
  margin-right: 200px;
  height: 50px;
  border-radius: 8px;
}

.api-result-element-finished-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}

.api-result-element-div h1 {
  margin-left: 30px;
  width: 65%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: hsl(257, 27%, 26%);
}

.api-result-element-div p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: hsl(180, 66%, 49%);
}

.api-result-element-div button {
  width: 80px;
  height: 60%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  border-radius: 8px;
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.api-result-element-div button:hover {
  background-color: hsl(257, 27%, 26%);
}

/* -----------------------------------  Advanced Statistics Section ----------------------------------- */
.advanced-background-div {
  background-color: rgba(239, 241, 248, 1);
  /* height: 100px; */
}

.advanced-statistics-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 30% 0 30%;
  padding-top: 100px;
  background-color: rgba(239, 241, 248, 1);
}

.advanced-statistics-text-div h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: hsl(255, 11%, 22%);
  text-align: center;
}

.advanced-statistics-text-div p {
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: hsl(257, 7%, 63%);
  text-align: center;
}

/* 3 Advantages Section  */
.three-advantages-div {
  margin: 100px 200px 0 200px;
  display: flex;
}

.advantage-div {
  background-color: white;
  height: 200px;
}

.advantage-div h1 {
  margin: 5% 0 0 10%;
  color: hsl(255, 11%, 22%);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.advantage-div p {
  margin: 5% 5% 5% 10%;
  color: hsl(257, 7%, 63%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.second-advantage-div {
  margin-top: 25px;
}

.third-advantage-div {
  margin-top: 50px;
}

.advantage-green-line-div {
  margin-top: 100px;
  width: 50px;
  height: 5px;
  background-color: hsl(180, 66%, 49%);
}

/* -----------------------------------  Second Placeholder Section ----------------------------------- */
.second-placeholder-div {
  background-color: rgba(239, 241, 248, 1);
  height: 100px;
}

/* -----------------------------------  Boost Your Links Today Section ----------------------------------- */
.boost-your-links-today-div {
  border: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: hsl(257, 27%, 26%);
}

.boost-your-links-today-div h1 {
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

/* -----------------------------------  Footer Section ----------------------------------- */
.footer-div {
  background-color: hsl(260, 8%, 14%);
}

.footer-background-div {
  margin: 0 200px 0 200px;
  padding: 60px 0 60px 0;
  display: flex;
  justify-content: space-between;
}

.footer-div-main-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-top: -10px;
  color: white;
  text-decoration: none;
}

.footer-div-sections {
  display: flex;
  flex-direction: column;
}

.footer-div-sections h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.footer-div-sections a {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: hsl(257, 7%, 63%);
  text-decoration: none;
}

.footer-div-sections a:hover {
  color: hsl(180, 66%, 49%);
}

.footer-div-social-medias {
  margin-top: 10px;
  display: flex;
  color: white;
}

.footer-div-social-medias i {
  margin-left: 20px;
  cursor: pointer;
}

.footer-div-social-medias i:hover {
  color: hsl(180, 66%, 49%);
}
