body {
  margin: 0;
}

/* -----------------------------------  Top Navigation Bar ----------------------------------- */
.top-nav-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 0 0 200px;
  /* background-color: aqua; */
}

.top-nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-left: 40px;
  color: hsl(257, 7%, 63%);
  text-decoration: none;
}

.top-nav-main-name {
  font-weight: 700;
  font-size: 25px;
  margin-left: 0;
  color: hsl(255, 11%, 22%);
}

.top-nav-link:hover {
  color: hsl(255, 11%, 22%);
}

/* -----------------------------------  Introduction Section ----------------------------------- */
.introduction-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 0 0 200px;
  /* background-color: aqua; */
}

.introduction-content-div {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  width: 60%;
  /* background-color: aqua; */
}

.introduction-content-div h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: hsl(255, 11%, 22%);
  margin: 0;
}

.introduction-content-div p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: hsl(257, 7%, 63%);
  margin: 30px 0 0 0;
}

.introduction-content-div button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  background-color: hsl(180, 66%, 49%);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 30px 0 0 0;
}

.introduction-content-div button:hover {
  color: hsl(255, 11%, 22%);
}

/* -----------------------------------  Placeholder Section ----------------------------------- */
.placeholder-div {
  margin-top: 110px;
  height: 150px;
  background-color: rgba(239, 241, 248, 1);
}

/* -----------------------------------  Shorten a Link Section ----------------------------------- */
.shorten-a-link-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  height: 100px;
  margin: -200px 200px 0 200px;
  border-radius: 8px;
}

.shorten-a-link-div input {
  width: 70%;
  height: 35%;
  margin: 0 20px 0 30px;
  border-radius: 8px;
  border: none;
  text-indent: 20px;
}

.shorten-a-link-div button {
  width: 20%;
  height: 37%;
  margin: 0 30px 0 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  border-radius: 8px;
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.shorten-a-link-div button:hover {
  color: hsl(255, 11%, 22%);
}

/* -----------------------------------  Advanced Statistics Section ----------------------------------- */
.advanced-background-div {
  background-color: rgba(239, 241, 248, 1);
  /* height: 100px; */
}

.advanced-statistics-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 30% 0 30%;
  background-color: rgba(239, 241, 248, 1);
}

.advanced-statistics-text-div h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: hsl(255, 11%, 22%);
  text-align: center;
}

.advanced-statistics-text-div p {
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: hsl(257, 7%, 63%);
  text-align: center;
}